.types {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  color: #fff;
  border-radius: 4px;
}
.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
